/* #img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
} */
form{
  display: flex;
  flex-direction: column;
}
.btnDiv{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  
}
.addBtn{
  background-color: lime;
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 90px;
}
.clearBtn{
  background-color: orange;
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 90px;
}
.resetBtn{
  background-color: red;
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 90px;
}

body{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
#list{
 
  list-style: none;
  padding: 0;
}
.main{
  margin: 10rem;

  width: 40%;
  border-radius: 90px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textbox{
  margin-top: 20px;
  margin-bottom: 40px;
}

.completed{

text-decoration-line: line-through;

}
#dashboard{
  min-height: 150px;
  border-top: 2px solid black;
  margin-top: 20px;
}