/* #img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
} */
form{
  display: flex;
  flex-direction: column;
}
.btnDiv{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  
}
.addBtn{
  background-color: lime;
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 90px;
}
.clearBtn{
  background-color: orange;
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 90px;
}
.resetBtn{
  background-color: red;
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 90px;
}

body{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  
  display: flex;
  justify-content: center;
  align-items: center;

}
#list{
 
  list-style: none;
  padding: 0;
}
.main{
  margin: 10rem;

  width: 40%;
  border-radius: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textbox{
  margin-top: 20px;
  margin-bottom: 40px;
}

.completed{

text-decoration-line: line-through;

}
#dashboard{
  min-height: 150px;

  margin-top: 20px;
}
.listitems{
  font-size: 30px;
}

.glassmorphism {
  background-color:  rgba( 255,255,255, 0.3); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 70px;
  border: 1px solid rgba( 255,255,255, 0.5); 
}
